@import './scss/mixins.scss';

$link-color: #9370DB;

* {
    box-sizing: border-box;
}

body {
    background-color: #4B0082;
    font-family: Arial;
}

.menu {
    display: flex;
    justify-content: center;
    min-height: 40px;
    border-bottom: #9370DB 1px solid;

    &__wrapper {
        @include _1160px {
            flex-direction: column;
        }
        display: flex;
    }
    &__item {
        padding: 10px 20px;
        cursor: pointer;
    }
}

a {
    text-decoration: none;
    color: #BC8F8F;
    font-weight: bold;
    transition: 0.2s ease-out;
    
    &:hover {
        color: $link-color;
    }
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.about {
    @include _1160px {
        flex-direction: column;
    }
    display: flex;
    justify-content: space-around;

    &__photo {
        @include _1160px {
            margin-top: -50px;
        }
        padding-top: 100px;

        &-img {
            @include _1160px {
                width: 100%;
            }
        }

    }

    &__content {
        @include _1160px {
            padding-top: 20px;
        }
        padding-top: 150px;
        
        &-title {
            @include _1160px {
                text-align: center;
            }
            font-size: 60px;
            font-weight: bold;
            color: #BC8F8F;
        }

        // &-subtitle {
        //     margin-top: 20px;
        //     font-size: 36px;
        //     color: #9370db;
        // }
    }
}

.aboout__content-subtitle {
    @include _1160px {
        text-align: center;
    }
    margin-top: 20px;
    font-size: 36px;
    color: #9370db;
}

.aboout__content-discription {
    @include _1160px {
        margin: 0 auto;
    }
    padding-left: 30px;
    padding-bottom: 26px;
    color: #ffffff;
    font-size: 30px;
    margin-top: 60px;
    max-width: 350px;
    background: linear-gradient(to bottom, #4B0082, #9370DB);
}

.portfolio {
    @include _1160px {
        flex-direction: column;
        margin-top: 20px;
    }
    margin-top: 200px;
    display: flex;
    justify-content: space-between;

    &__item-img {
        max-width: 300px;
    }

    &__item-description {
        color: #9370db;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
    }
}