@import './scss/mixins.scss';

body {
    margin: 0;

    .list {
        color: red;
        background: yellow;

        @include for-size(phone-only) {
            color: green;
        }

        @include square(100px, 40px);
    }
}

.row div {
    border: 1px solid;
}